# Entornos virtuales
venv/
.mlops/

# Cachés de Python
pycache/
*.py[cod]

# Datos y Modelos (serán gestionados por DVC)
models/.pkl
models/.joblib

# MLflow local
mlruns/
mlartifacts/

# Secretos
.env
/model.pkl